Repository apple/coremltools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_macos11_py27_coremltools_test, test_macos11_py37_coremltools_test, test_macos11_py27_pytorch, test_macos11_py37_pytorch, test_macos11_py27_tensorflow1, test_macos11_py37_tensorflow1, test_macos11_py27_tensorflow2, test_macos11_py37_tensorflow2, test_macos11_py27_mil, test_macos11_py37_mil, build_documentation

test_macos11_py27_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    WHEEL_PATH: build/dist/*cp27*10_16*
    PYTHON: '2.7'

test_macos11_py37_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    WHEEL_PATH: build/dist/*cp37*10_16*
    PYTHON: '3.7'

test_macos11_py27_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py37_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py27_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py37_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py27_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py37_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py27_mil:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp27*10_16*

<rdar://problem/57680045> Pytorch tests failing
  coremltools/converters/nnssa/frontend/graph_pass/common_symbolic_value_elimination.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/constant_propagation.py
Due: none

<rdar://problem/56505768> Construct program using new SSA API designed for CNN (Builder -> SSA)
  coremltools/converters/nnssa/commons/basic_graph_ops.py
  coremltools/converters/nnssa/commons/dot_visitor.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/cond_to_where.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/constant_propagation.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/variable_node_transform.py
  coremltools/converters/nnssa/frontend/tensorflow/load.py
  coremltools/converters/nnssa/nnssa.py
Due: none

<rdar://problem/57601073> NNv2 Networks always use ND mode
  mlmodel/src/ILIL/Program/ProgramIROperation.cpp
  mlmodel/src/Utils.cpp
Due: test_macos11_py27_coremltools_test

Fix unittests to pass on GitLab CI
  coremltools/models/utils.py
  coremltools/test/neural_network/test_caffe2_numeric.py
  coremltools/test/neural_network/test_caffe_stress_tests.py
  coremltools/test/neural_network/test_custom_neural_nets.py
  coremltools/test/neural_network/test_keras2_numeric.py
  coremltools/test/neural_network/test_keras_numeric.py
  coremltools/test/neural_network/test_model.py
  coremltools/test/neural_network/test_multiple_images_preprocessing.py
  coremltools/test/neural_network/test_neural_networks.py
  coremltools/test/neural_network/test_nn_builder.py
  coremltools/test/neural_network/test_numpy_nn_layers.py
  coremltools/test/neural_network/test_quantization.py
  coremltools/test/neural_network/test_recurrent_stress_tests.py
  coremltools/test/neural_network/test_shaper_bindings.py
  coremltools/test/neural_network/test_simple_recurrent_single_layer.py
  coremltools/test/neural_network/test_tf_numeric.py
  coremltools/test/sklearn/test_NuSVC.py
  coremltools/test/sklearn/test_NuSVR.py
  coremltools/test/sklearn/test_SVC.py
  coremltools/test/sklearn/test_SVR.py
  coremltools/test/sklearn/test_composite_pipelines.py
  coremltools/test/sklearn/test_dict_vectorizer.py
  coremltools/test/sklearn/test_glm_classifier.py
  coremltools/test/sklearn/test_imputer.py
  coremltools/test/sklearn/test_io_types.py
  coremltools/test/sklearn/test_linear_regression.py
  coremltools/test/sklearn/test_nearest_neighbors_builder.py
  coremltools/test/sklearn/test_normalizer.py
  coremltools/test/sklearn/test_one_hot_encoder.py
  coremltools/test/sklearn/test_random_forest_classifier_numeric.py
  coremltools/test/sklearn/test_random_forest_regression_numeric.py
  coremltools/test/sklearn/test_standard_scalar.py
  coremltools/test/sklearn/test_utils.py
  coremltools/test/xgboost/test_boosted_trees_classifier_numeric.py
  coremltools/test/xgboost/test_boosted_trees_regression_numeric.py
  coremltools/test/xgboost/test_decision_tree_classifier_numeric.py
  coremltools/test/xgboost/test_decision_tree_regression_numeric.py
Due: none

<rdar://problem/57760748> test_recurrent_stress_tests.InitialStateRecurrentModels testMethod=test_initial_state_LSTM: AttributeError: 'InputLayer' object has no attribute 'reset_states'
  coremltools/test/neural_network/test_recurrent_stress_tests.py
Due: none

<rdar://problem/56121826> test_siri_search_overton failed: "['Subtest test_siri_search_overton failed with 1']" [J79][OSXKit_9874300][bats-s-05-214.apple.com]
  coremltools/converters/nnssa/coreml/graph_pass/mlmodel_passes.py
  coremltools/test/neural_network/test_graph_passes.py
Due: none

<rdar://problem/57754725> test_siri_asr_stress failed: failed to convert from IR to Core ML. global name 'input_types' is not defined
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

<rdar://problem/57547103> Figure out why softmax always seems to return 1
  examples/NN_v2/helper.py
  examples/NN_v2/simple_layer.mlmodel
  examples/NN_v2/simple_layer.py
  examples/NN_v2/simple_layer.wt
Due: none

Remove coremltools_internal dependencies from coremltools
  coremltools/converters/nnssa/commons/features.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/constant_propagation.py
Due: none

<rdar://problem/57932421> "Variable is not used" build error in IRValueType.cpp
  mlmodel/src/ILIL/IRValueType.cpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/56692717> ARKit Model: Tfcoreml fails to convert model
  coremltools/converters/nnssa/coreml/graph_pass/__init__.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
Due: none

<rdar://problem/57972099> coremltools is broken if built out of source using cmake
  CMakeLists.txt
  setup.py
Due: none

<rdar://problem/57124550> tfcoreml docs are missing from the coremltools docs
  coremltools/converters/tensorflow/_tf_converter.py
  docs/coremltools.converters.rst
  mlmodel/docs/conf.py
  mlmodel/docs/index.rst
  mlmodel/docs/preprocess.py
Due: test_macos11_py27_coremltools_test, build_documentation

<rdar://problem/57630137> Define a model in Python for inner product and dense (define model, ops, write tests , modify converter function)
  coremltools/converters/nnssa/frontend/common_pass.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/constant_propagation.py
  examples/NN_v2/simple_layer.mlmodel
  examples/NN_v2/simple_layer.py
  examples/NN_v2/simple_layer.wt
  mlmodel/src/ILIL/IROperatorDescription.cpp
  mlmodel/src/ILIL/IRValue.cpp
  mlmodel/src/ILIL/IRValue.hpp
  mlmodel/src/ILIL/Program/ProgramIROperatorTypeConverter.cpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/56993073> [CoreML Performance] Convertors should consider marking inputs and outputs as Float32 by default
  coremltools/converters/keras/_keras2_converter.py
  coremltools/converters/keras/_keras_converter.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/models/_interface_management.py
  coremltools/models/datatypes.py
  coremltools/models/neural_network/builder.py
  coremltools/models/utils.py
  coremltools/test/neural_network/test_keras2_numeric.py
  coremltools/test/neural_network/test_model.py
Due: none

<rdar://problem/57832609> Annotate TF 2 python tests
  coremltools/converters/tensorflow/test/test_tf_2x.py
Due: none

<rdar://problem/57895959> ProgramValidator validates compat with Model inputs and outputs
  mlmodel/src/Result.cpp
  mlmodel/src/Result.hpp
  mlmodel/src/ResultReason.hpp
  mlmodel/src/ResultType.hpp
  mlmodel/src/Validation/NeuralNetwork/NeuralNetworkValidator.cpp
  mlmodel/src/Validation/NeuralNetwork/NeuralNetworkValidatorGraph.hpp
  mlmodel/src/Validation/NeuralNetwork/NeuralNetworkValidatorUtils.hpp
  mlmodel/src/Validation/NeuralNetwork/UpdatableNeuralNetworkValidator.hpp
  mlmodel/src/Validation/ParameterValidator.cpp
  mlmodel/src/Validation/ParameterValidator.hpp
  mlmodel/src/Validation/ProgramValidator.cpp
  mlmodel/src/Validation/ValidatorUtils-inl.hpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/NNValidatorTests.cpp
  mlmodel/tests/ProgramValidatorTests.cpp
  mlmodel/tests/framework/TestUtils.hpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/58274046> tf.Keras softmax activation does not convert properly
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/converters/tensorflow/test/test_tf_2x.py
Due: none

Adding Selu + MatrixBandPart layers, handling dynamic shapes in sctter_nd, annotating tensors in expand_dims
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

<rdar://problem/59042222> Typo in NonMaximumSuppression Validator code
  mlmodel/src/Validation/NonMaximumSuppressionValidator.cpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/59274168> Remove IRScalarValueType
  examples/NN_v2/helper.py
  examples/NN_v2/out
  examples/NN_v2/simple_layer.mlmodel
  examples/NN_v2/simple_layer.wt
  mlmodel/src/ILIL/Context.cpp
  mlmodel/src/ILIL/IRValueType.cpp
  mlmodel/src/ILIL/IRValueType.hpp
  mlmodel/tests/ILIL/IRScopeTests.cpp
  mlmodel/tests/ILIL/IRValueTests.cpp
  mlmodel/tests/ILIL/IRValueTypeTests.cpp
  mlmodel/tests/ILIL/ProgramIRTests.cpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/ProgramModelUtils.cpp
  mlmodel/tests/ProgramModelUtils.hpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/58808500> Prep TensorType for removal of IRScalarValueType
  mlmodel/src/ILIL/Context.cpp
  mlmodel/src/ILIL/IROperatorDescription.cpp
  mlmodel/src/ILIL/IRProgramValidator.cpp
  mlmodel/src/ILIL/IRValue.cpp
  mlmodel/src/ILIL/IRValue.hpp
  mlmodel/src/ILIL/IRValueType.cpp
  mlmodel/src/ILIL/IRValueType.hpp
  mlmodel/src/ILIL/Program/ProgramIRValue.cpp
  mlmodel/src/ILIL/Program/ProgramIRValueType.cpp
  mlmodel/tests/ILIL/IRValueTests.cpp
  mlmodel/tests/ILIL/IRValueTypeTests.cpp
  mlmodel/tests/ILIL/ProgramIRTests.cpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/58765498> [clang-1200,M3] CoreML failed to build with clang-1200 (1 new build errors)
  mlmodel/src/ILIL/Context.cpp
  mlmodel/tests/KNNValidatorTests.cpp
  mlmodel/tests/ModelCreationUtils.cpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/58785077> Scrub through and cleanup on-device training aspects of CoreML
  coremltools/models/neural_network/builder.py
  coremltools/models/neural_network/update_optimizer_utils.py
  coremltools/proto/NeuralNetwork_pb2.py
  mlmodel/build/format/Model.pb.h
  mlmodel/build/format/NeuralNetwork.pb.cc
  mlmodel/build/format/NeuralNetwork.pb.h
  mlmodel/build/format/NeuralNetwork_enums.h
  mlmodel/format/NeuralNetwork.proto
  mlmodel/src/Validation/NeuralNetwork/NeuralNetworkValidatorGraph.hpp
  mlmodel/src/Validation/NeuralNetwork/UpdatableNeuralNetworkValidator.cpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/UpdatableModelValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

<rdar://problem/59704581> Remove assert statement from the "_test_model" function in test_numpy_nn_layers.py test file
  coremltools/test/neural_network/test_numpy_nn_layers.py
Due: none

<rdar://problem/59566289> [New CoreML layer for Azul] Add ArgSort layer to CoreML sepc
  coremltools/models/neural_network/builder.py
  coremltools/proto/NeuralNetwork_pb2.py
  coremltools/test/neural_network/test_numpy_nn_layers.py
  mlmodel/build/format/Model.pb.h
  mlmodel/build/format/NeuralNetwork.pb.cc
  mlmodel/build/format/NeuralNetwork.pb.h
  mlmodel/build/format/NeuralNetwork_enums.h
  mlmodel/format/NeuralNetwork.proto
  mlmodel/src/Utils.cpp
  mlmodel/src/Validation/NeuralNetwork/NeuralNetworkLayerValidator.cpp
  mlmodel/src/Validation/NeuralNetwork/NeuralNetworkValidator.cpp
  mlmodel/src/Validation/NeuralNetwork/NeuralNetworkValidator.hpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/NNValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

Working tests for Python-3.7
  coremltools/converters/tensorflow/test/test_convnets.py
  coremltools/converters/tensorflow/test/test_tf_2x.py
  coremltools/converters/tensorflow/test/test_tf_keras_layers.py
  coremltools/test/neural_network/test_caffe2_numeric.py
  coremltools/test/neural_network/test_quantization.py
Due: none

[SSAv2] Sorting TestOps and op_mapping
  coremltools/converters/nnv2/backend/nnv1/op_mapping.py
  coremltools/converters/nnv2/nnv2_program/ops/test_ops.py
Due: none

[NNv2] Adding RNN layer in SSAv2 to NNv1 backend
  coremltools/converters/nnv2/backend/nnv1/op_mapping.py
  coremltools/converters/nnv2/nnv2_program/ops/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/test_ops.py
Due: none

[NNv2] Adding GRU layer in SSAv2 to NNv1 backend
  coremltools/converters/nnv2/backend/nnv1/op_mapping.py
  coremltools/converters/nnv2/nnv2_program/ops/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/test_ops.py
Due: none

Enabled CI for nightly to run all coremltools unit tests.
  coremltools/converters/tensorflow/test/__init__.py
  coremltools/test/__init__.py
  coremltools/test/neural_network/__init__.py
  coremltools/test/neural_network_v2/__init__.py
  coremltools/test/pipeline/__init__.py
  coremltools/test/sklearn/__init__.py
  coremltools/test/xgboost/__init__.py
  setup.py
Due: none

Fixed issues with the build.
  coremltools/converters/tensorflow/test/__init__.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_dyn_rnn.py
  coremltools/converters/tensorflow/test/test_tf_graphs.py
  scripts/test_wheel.sh
Due: none

Add activation ops to nnv1 backend
  coremltools/converters/nnv2/backend/nnv1/op_mapping.py
  coremltools/converters/nnv2/frontend/tensorflow/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/test_ops.py
  mlmodel/src/ILIL/Context.cpp
Due: test_macos11_py27_coremltools_test

Fixed the final xfail.
  coremltools/test/pipeline/test_model_updatable.py
Due: none

Fixed a failing unit test.
  coremltools/converters/nnssa/coreml/ssa_converter.py
Due: none

Add elementwise in nnv1
  coremltools/converters/nnv2/backend/nnv1/op_mapping.py
  coremltools/converters/nnv2/frontend/tensorflow/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/test_ops.py
Due: none

parent 4e6661adddea3a5991885359af5921c4b307c000 author Sean Happenny <shappenny@apple.com> 1581556854 -0800 committer Sean Happenny <shappenny@apple.com> 1582827031 -0800
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/test/neural_network/test_nn_builder.py
Due: none

Add Max/Avg/L2 Pooling, Linear, MatMul, BandPart nnv1 mapping
  coremltools/converters/nnv2/backend/nnv1/op_mapping.py
  coremltools/converters/nnv2/frontend/tensorflow/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/ops.py
  coremltools/converters/nnv2/nnv2_program/ops/test_ops.py
  coremltools/converters/nnv2/nnv2_program/program/input_type.py
  coremltools/converters/nnv2/nnv2_program/program/program.py
Due: none

Path conditions:
  test_macos11_py27_coremltools_test: any of: mlmodel/**/*, coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py37_coremltools_test: any of: coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py27_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  build_documentation: any of: docs/**/*
