Repository apple/coremltools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_macos11_py27_coremltools_test, test_macos11_py37_coremltools_test, test_macos11_py27_pytorch, test_macos11_py37_pytorch, test_macos11_py27_tensorflow1, test_macos11_py37_tensorflow1, test_macos11_py27_tensorflow2, test_macos11_py37_tensorflow2, test_macos11_py27_mil, test_macos11_py37_mil, build_documentation

Path conditions:
  test_macos11_py27_coremltools_test: any of: mlmodel/**/*, coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py37_coremltools_test: any of: coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py27_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  build_documentation: any of: docs/**/*

removes repeat
  coremltools/converters/mil/frontend/torch/ops.py
Due: none

adds repeat test
  coremltools/converters/mil/frontend/torch/test/test_torch_ops.py
Due: none

minor style fix
  coremltools/converters/mil/frontend/torch/test/test_torch_ops.py
Due: none

Update op_mapping.py to fix #810
  coremltools/converters/mil/backend/nn/op_mapping.py
Due: none

Corrected small typo
  coremltools/converters/mil/backend/nn/op_mapping.py
Due: none

Update ops.py
  coremltools/converters/mil/frontend/torch/ops.py
Due: none

Update ops.py to Fix #823 (#837)
  coremltools/converters/mil/frontend/torch/ops.py
Due: none

Changed patch to expand initial_h and initial_c just once
  coremltools/converters/mil/backend/nn/op_mapping.py
Due: none

Typo
  coremltools/converters/mil/backend/nn/op_mapping.py
Due: none

Added test case Torch TestStackedBLSTM()
  coremltools/converters/mil/frontend/torch/test/test_torch_ops.py
Due: none

- Updated torch test case TestStackedBLSTM() for GitHub issue #810 - Updated op_mapping.py again to use unique names
  coremltools/converters/mil/backend/nn/op_mapping.py
  coremltools/converters/mil/frontend/torch/test/test_torch_ops.py
Due: none

Fix issue #810 in BLSTM to give lstm_h0_reshaped_expanded unique name (#843)
  coremltools/converters/mil/backend/nn/op_mapping.py
  coremltools/converters/mil/frontend/torch/test/test_torch_ops.py
Due: none

Fix brg to bgr in docs
  coremltools/converters/mil/input_types.py
Due: none

Fix brg to bgr in docs (#852)
  coremltools/converters/mil/input_types.py
Due: none

Merged eng/PR-52502336 into master for Yukon
  coremltools/models/neural_network/builder.py
  coremltools/test/test_model_updatable.py
Due: none

Merged eng/PR-52274622 into master for Yukon
  coremltools/proto/Gazetteer_pb2.py
  coremltools/proto/Model_pb2.py
  coremltools/proto/WordEmbedding_pb2.py
  mlmodel/CMakeLists.txt
  mlmodel/build/format/Gazetteer.pb.cc
  mlmodel/build/format/Gazetteer.pb.h
  mlmodel/build/format/Gazetteer_enums.h
  mlmodel/build/format/Model.pb.cc
  mlmodel/build/format/Model.pb.h
  mlmodel/build/format/Model_enums.h
  mlmodel/build/format/WordEmbedding.pb.cc
  mlmodel/build/format/WordEmbedding.pb.h
  mlmodel/build/format/WordEmbedding_enums.h
  mlmodel/docs/index.rst
  mlmodel/format/Gazetteer.proto
  mlmodel/format/Model.proto
  mlmodel/format/WordEmbedding.proto
  mlmodel/src/Comparison.cpp
  mlmodel/src/Comparison.hpp
  mlmodel/src/GazetteerValidator.cpp
  mlmodel/src/Model.cpp
  mlmodel/src/Utils.cpp
  mlmodel/src/Utils.hpp
  mlmodel/src/WordEmbeddingValidator.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-51464282 into master for Yukon
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/common_pass.py
  coremltools/converters/nnssa/frontend/tensorflow/load.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/converters/tensorflow/test/test_convnets.py
  mlmodel/src/NeuralNetwork/NeuralNetworkLayerValidator.cpp
  mlmodel/tests/NNValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-52310808 into master for Yukon
  coremltools/models/neural_network/builder.py
  coremltools/test/test_nn_builder.py
Due: none

Merged eng/PR-52813024 into master for Yukon
  coremlpython/CoreMLPython.mm
  mlmodel/src/Globals.hpp
  mlmodel/src/Model.cpp
  mlmodel/src/Utils.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-50833897 into master for Yukon
  mlmodel/tests/ModelCreationUtils.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-52855428 into master for Azul
  coremlpython/CoreMLPythonUtils.mm
Due: none

Merged eng/PR-52839154 into master for Yukon
  examples/updatable_models/updatable_mnist.ipynb
  mlmodel/src/Model.cpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/UpdatableModelValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-49615849 into master for Azul
  mlmodel/tests/ModelCreationUtils.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-52957859 into master for Azul
  README.md
  docs/conf.py
  setup.py
Due: build_documentation

Merged eng/PR-52787200 into master for Yukon
  coremltools/test/test_numpy_nn_layers.py
Due: none

Merged eng/PR-52963586 into master for Yukon
  coremltools/test/test_numpy_nn_layers.py
Due: none

Handling ANE configurations for nd tensors
  coremltools/test/test_numpy_nn_layers.py
  mlmodel/src/NeuralNetwork/NeuralNetworkValidator.cpp
Due: test_macos11_py27_coremltools_test

Allows numberOfNeighbors to be overriden at model load time.
  coremltools/converters/sklearn/_k_neighbors_classifier.py
  coremltools/models/nearest_neighbors/builder.py
  coremltools/proto/Model_pb2.py
  coremltools/proto/NearestNeighbors_pb2.py
  coremltools/test/test_k_neighbors_classifier.py
  coremltools/test/test_nearest_neighbors_builder.py
  examples/updatable_models/updatable_linked_model.ipynb
  examples/updatable_models/updatable_nearest_neighbor_classifier.ipynb
  mlmodel/build/format/NearestNeighbors.pb.cc
  mlmodel/build/format/NearestNeighbors.pb.h
  mlmodel/format/NearestNeighbors.proto
  mlmodel/src/Comparison.cpp
  mlmodel/src/KNearestNeighborsClassifierValidator.cpp
  mlmodel/src/NeuralNetwork/UpdatableNeuralNetworkValidator.cpp
  mlmodel/src/ParameterValidator.cpp
  mlmodel/src/ParameterValidator.hpp
  mlmodel/tests/KNNValidatorTests.cpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/ModelCreationUtils.cpp
  mlmodel/tests/ParameterTests.cpp
  mlmodel/tests/UpdatableModelValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-52729301 into master for Azul
  coremltools/test/test_recurrent_stress_tests.py
Due: none

Merged eng/PR-53430006 into master for Azul
  coremltools/converters/nnssa/coreml/graph_pass/op_removals.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
Due: none

rdar://52492748 (Add layers for TF converter: GatherNd, ScatterNd, Pad, PadV2, OneHot, All, Any, Size)
  coremltools/converters/nnssa/builder.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/delete_asserts.py
  coremltools/converters/nnssa/nnssa.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_convnets.py
  coremltools/converters/tensorflow/test/test_dyn_rnn.py
  coremltools/converters/tensorflow/test/test_tf_keras_layers.py
  coremltools/converters/tensorflow/test/test_utils.py
  coremltools/converters/tensorflow/test/testutils.py
Due: none

Refactor SSA to Core ML convert functions
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

Set shuffle on by default for all updatable models
  coremltools/models/neural_network/builder.py
  coremltools/test/test_model_updatable.py
Due: none

Merged eng/PR-53125458 into master for Azul
  coremltools/test/test_keras.py
  coremltools/test/test_keras_nonseq.py
  coremltools/test/test_keras_numeric.py
  coremltools/test/test_neural_networks.py
Due: none

Fix broken converter test.
  coremltools/converters/sklearn/_k_neighbors_classifier.py
Due: none

Merged eng/PR-53059258 into master for Azul
  coremltools/converters/nnssa/coreml/graph_pass/mlmodel_passes.py
  coremltools/converters/tensorflow/test/test_graph_passes.py
Due: none

Merged eng/PR-53506913 into master for Azul
  coremltools/converters/keras/_topology2.py
  coremltools/test/test_keras2_numeric.py
Due: none

Added unit tests for neural network classifier with int labels and bias
  mlmodel/tests/ModelCreationUtils.cpp
  mlmodel/tests/ModelCreationUtils.hpp
Due: test_macos11_py27_coremltools_test

Fix test_nearest_neighbors_builder to use the right method to set number_of_neighbors
  coremltools/test/test_nearest_neighbors_builder.py
Due: none
