Repository apple/coremltools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_macos11_py27_coremltools_test, test_macos11_py37_coremltools_test, test_macos11_py27_pytorch, test_macos11_py37_pytorch, test_macos11_py27_tensorflow1, test_macos11_py37_tensorflow1, test_macos11_py27_tensorflow2, test_macos11_py37_tensorflow2, test_macos11_py27_mil, test_macos11_py37_mil, build_documentation

test_macos11_py27_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    WHEEL_PATH: build/dist/*cp27*10_16*
    PYTHON: '2.7'

test_macos11_py37_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    WHEEL_PATH: build/dist/*cp37*10_16*
    PYTHON: '3.7'

test_macos11_py27_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py37_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py27_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py37_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py27_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py37_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py27_mil:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp27*10_16*

Merged eng/PR-53207840 into master for Azul
  coremltools/models/_graph_visualization.py
Due: none

rdar://52077174 (Display shapes for training inputs in coremltools + sanitise error when training shape does not match)
  coremltools/models/_feature_management.py
  coremltools/models/_interface_management.py
  coremltools/models/neural_network/builder.py
  mlmodel/src/NeuralNetwork/NeuralNetworkValidator.cpp
  mlmodel/src/NeuralNetwork/UpdatableNeuralNetworkValidator.cpp
  mlmodel/src/NeuralNetwork/UpdatableNeuralNetworkValidator.hpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/ModelCreationUtils.cpp
  mlmodel/tests/ParameterTests.cpp
  mlmodel/tests/ParameterTests.hpp
  mlmodel/tests/UpdatableModelValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-53717934 into master for Azul
  coremltools/test/test_numpy_nn_layers.py
Due: none

Merged eng/PR-53618310 into master for Azul
  coremltools/models/utils.py
  coremltools/test/test_model.py
Due: none

Fixing pytests, for some reason even though when running python scripts it'd reference the changes I had made in coremltools the pytests were referencing some other side package
  coremltools/test/test_model_updatable.py
Due: none

Merged eng/PR-53882798 into master for Azul
  coremltools/converters/keras/_layers2.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

Fix hand-converted GPT2 compilation error
  coremltools/models/neural_network/builder.py
  mlmodel/src/NeuralNetwork/NeuralNetworkLayerValidator.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-52967013 into master for Azul
  coremltools/converters/nnssa/commons/builtins/__init__.py
  coremltools/converters/nnssa/commons/builtins/type_bool.py
  coremltools/converters/nnssa/commons/builtins/type_double.py
  coremltools/converters/nnssa/commons/builtins/type_int.py
  coremltools/converters/nnssa/commons/builtins/type_tensor.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/models/neural_network/builder.py
Due: none

Merged eng/PR-54766747 into master for Azul
  coremltools/models/neural_network/builder.py
  coremltools/test/test_numpy_nn_layers.py
Due: none

Merged eng/PR-44986760 into master for Azul
  coremlpython/CoreMLPython.h
  coremlpython/CoreMLPython.mm
  coremltools/models/model.py
  coremltools/models/utils.py
  coremltools/test/test_model.py
  mlmodel/src/Utils.cpp
  mlmodel/src/Utils.hpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-54364114 into master for Azul
  mlmodel/format/NeuralNetwork.proto
Due: test_macos11_py27_coremltools_test

Merged eng/PR-53688606 into master for Azul
  coremltools/test/test_keras2.py
Due: none

rdar://54216475 ([ASR Model]: Add Dynamic_Tile layer for ASR model)
  coremltools/models/model.py
  coremltools/test/test_numpy_nn_layers.py
Due: none

add layernorm fusion for BERT and GPT-2
  coremltools/converters/nnssa/coreml/graph_pass/__init__.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/tensorflow/test/test_tf_graphs.py
  coremltools/converters/tensorflow/test/test_utils.py
Due: none

Disable autoset spec version that causes intermittent crashes
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/models/utils.py
Due: none

rdar://54321472 (Core ML 3: TensorFlow DepthToSpace operation not supported)
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

<rdar://problem/45287945> [STATIC ANALYZER] dead store and other warnings
  mlmodel/src/NeuralNetwork/NeuralNetworkLayerValidator.cpp
Due: test_macos11_py27_coremltools_test

Respond to review comments: entirely remove code just commented out in previous commit.
  mlmodel/src/NeuralNetwork/NeuralNetworkLayerValidator.cpp
Due: test_macos11_py27_coremltools_test

rdar://55075428 (we should quote tensor name for invalid input shapes)
  coremltools/converters/keras/_keras2_converter.py
Due: none

add gelu fusion for BERT
  coremltools/converters/nnssa/coreml/graph_pass/__init__.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/tensorflow/test/test_tf_graphs.py
Due: none

Merged eng/PR-54926325 into master for Azul
  coremltools/models/neural_network/builder.py
  coremltools/test/test_numpy_nn_layers.py
Due: none

siri overton model: strided slice ellipsis mask + switch op issue
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/cond_to_where.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

APIExample update with new quantization options
  docs/APIExamples.md
Due: build_documentation

Add batch matmul in quantization utils
  coremltools/models/neural_network/quantization_utils.py
  coremltools/test/test_nn_builder.py
Due: none

[Health] Adding where_non_zero layer + bunch of mixes in shaper.
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

update layernorm and gelu fusion and regenerate models
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
Due: none

<rdar://problem/55190439> CoreMLPythonUtils.mm:convertValueToImage leaks a CVPixelBuffer
  coremlpython/CoreMLPythonUtils.mm
Due: none

Add more documentations and error checking
  coremltools/models/neural_network/quantization_utils.py
  docs/APIExamples.md
Due: build_documentation

rdar://55342818 (Fix and enable old TFCoreml converter convent tests)
  coremltools/converters/nnssa/coreml/graph_pass/mlmodel_passes.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/constant_propagation.py
  coremltools/converters/nnssa/frontend/tensorflow/graphdef_to_ssa.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_convnets.py
  coremltools/converters/tensorflow/test/test_graph_passes.py
  coremltools/converters/tensorflow/test/test_tf_graphs.py
Due: none

Fix inception model tests, handle concat (v1) case, add pad-conv2d fusion
  coremltools/converters/nnssa/commons/builtins/type_tensor.py
  coremltools/converters/nnssa/coreml/graph_pass/__init__.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

On-Device Model Personalization API Usage
  examples/updatable_models/OnDeviceTraining_API_Usage.html
  examples/updatable_models/README.md
Due: none

Fix converter bugs for enc-dec nmt conversion
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
Due: none

Fuse sub/mul/add to batchnorm, rm tranposes around pad op
  coremltools/converters/nnssa/coreml/graph_pass/__init__.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
Due: none

replace html API usage doc with md file
  examples/updatable_models/OnDeviceTraining_API_Usage.html
  examples/updatable_models/OnDeviceTraining_API_Usage.md
  examples/updatable_models/README.md
Due: none

Fix inception model tests, handle concat (v1) case, add pad-conv2d fusion
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
Due: none

Merged eng/PR-55483023_master into master for Azul
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/fusedbatchnorm_rewrite.py
  coremltools/converters/nnssa/frontend/tensorflow/load.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

Merged eng/PR-55788089 into master for Azul
  test_requirements.pip
Due: none

Merged eng/PR-55404376_master into master for Azul
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_custom_layer.py
  coremltools/test/test_numpy_nn_layers.py
Due: none

Merged eng/PR-55416020-int into master for Azul
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/nnssa.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/models/neural_network/builder.py
Due: none

Merged eng/PR-53137702-int into master for Azul
  mlmodel/format/Model.proto
Due: test_macos11_py27_coremltools_test

Path conditions:
  test_macos11_py27_coremltools_test: any of: mlmodel/**/*, coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py37_coremltools_test: any of: coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py27_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  build_documentation: any of: docs/**/*
