Repository apple/coremltools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_macos11_py27_coremltools_test, test_macos11_py37_coremltools_test, test_macos11_py27_pytorch, test_macos11_py37_pytorch, test_macos11_py27_tensorflow1, test_macos11_py37_tensorflow1, test_macos11_py27_tensorflow2, test_macos11_py37_tensorflow2, test_macos11_py27_mil, test_macos11_py37_mil, build_documentation

test_macos11_py27_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    WHEEL_PATH: build/dist/*cp27*10_16*
    PYTHON: '2.7'

test_macos11_py37_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    WHEEL_PATH: build/dist/*cp37*10_16*
    PYTHON: '3.7'

test_macos11_py27_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py37_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py27_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py37_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py27_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py37_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py27_mil:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp27*10_16*

Remove old test job from CI
  .gitlab-ci.yml
Due: none

Changes to README.md for v5
  README.md
Due: none

Changes to README.md for v5 (#1208)
  README.md
Due: none

Remove two tabs character - this was breaking YAML merges for our testing
  .gitlab-ci.yml
Due: none

Add conda path to documentation job
  .gitlab-ci.yml
Due: none

Fix Gitlab CI to run all its' test jobs (#1209)
  .gitlab-ci.yml
Due: none

Fix imports when in "editable mode"
  coremltools/converters/mil/converter.py
  coremltools/models/utils.py
Due: none

Updating HTML for coremltools 5.0b1 API Reference
  _sources/source/coremltools.converters.caffe.rst.txt
  _sources/source/coremltools.converters.rst.txt
  _static/basic.css
  _static/searchtools.js
  _static/underscore-1.13.1.js
  _static/underscore.js
  genindex.html
  index.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  source/coremltools.converters.caffe.html
  source/coremltools.converters.html
  source/coremltools.converters.keras.html
  source/coremltools.converters.libsvm.html
  source/coremltools.converters.mil.html
  source/coremltools.converters.mil.input_types.html
  source/coremltools.converters.mil.mil.ops.defs.html
  source/coremltools.converters.onnx.html
  source/coremltools.converters.sklearn.html
  source/coremltools.converters.xgboost.html
  source/coremltools.models.html
  source/coremltools.models.neural_network.html
  source/modules.html
Due: none

Fix imports when in "editable mode" (#1215)
  coremltools/converters/mil/converter.py
  coremltools/models/utils.py
Due: none

Updating HTML for coremltools 5.0b1 API Reference (#1216)
  _sources/source/coremltools.converters.caffe.rst.txt
  _sources/source/coremltools.converters.rst.txt
  _static/basic.css
  _static/searchtools.js
  _static/underscore-1.13.1.js
  _static/underscore.js
  genindex.html
  index.html
  objects.inv
  py-modindex.html
  search.html
  searchindex.js
  source/coremltools.converters.caffe.html
  source/coremltools.converters.html
  source/coremltools.converters.keras.html
  source/coremltools.converters.libsvm.html
  source/coremltools.converters.mil.html
  source/coremltools.converters.mil.input_types.html
  source/coremltools.converters.mil.mil.ops.defs.html
  source/coremltools.converters.onnx.html
  source/coremltools.converters.sklearn.html
  source/coremltools.converters.xgboost.html
  source/coremltools.models.html
  source/coremltools.models.neural_network.html
  source/modules.html
Due: none

Documentation.md changes including GitHub master = main
  docs/documentation.md
Due: build_documentation

Documentation.md changes including GitHub master = main (#1217)
  docs/documentation.md
Due: build_documentation

Remove duplicate declarations for smoke test jobs
  .gitlab-ci.yml
Due: none

Remove all "only" attributes
  .gitlab-ci.yml
Due: none

Simplify CI (#1218)
  .gitlab-ci.yml
Due: none

Edits to ct.convert docstring
  coremltools/converters/_converters_entry.py
Due: none

Publishing edits to ct.convert docstring
  searchindex.js
  source/coremltools.converters.mil.html
Due: none

Added source link and fixed formatting
  coremltools/converters/_converters_entry.py
  docs/conf.py
Due: build_documentation

Edits to ct.convert docstring (#1225)
  coremltools/converters/_converters_entry.py
  docs/conf.py
Due: build_documentation

Downgrade build image to Ubuntu 18.04
  .gitlab-ci.yml
  docker/Dockerfile-coremltools-linux
Due: none

Fix image version
  .gitlab-ci.yml
Due: none

Compile with <experimental/filesystem>
  modelpackage/src/ModelPackage.cpp
Due: none

Adding support for torch.minimum and torch.maximum
  coremltools/converters/mil/frontend/torch/ops.py
  coremltools/converters/mil/frontend/torch/test/test_torch_ops.py
Due: none

Try explicit linking against libstdc++fs
  CMakeLists.txt
Due: none

Scope the explicit linking of stdc++fs to gcc < 9.1
  CMakeLists.txt
Due: none

fix: compatibility with Ubuntu 18.04 (#1232)
  .gitlab-ci.yml
  CMakeLists.txt
  docker/Dockerfile-coremltools-linux
  modelpackage/src/ModelPackage.cpp
Due: none

Adding support for torch.minimum and torch.maximum (#1231)
  coremltools/converters/mil/frontend/torch/ops.py
  coremltools/converters/mil/frontend/torch/test/test_torch_ops.py
Due: none

fix m1 build from source, update python and numpy base version for build
  reqs/build.pip
  scripts/build.sh
  scripts/env_create.sh
Due: none

fixup! Edited RST files for mlmodel ref
  mlmodel/docs/make.bat
Due: test_macos11_py27_coremltools_test

fixup! Edited RST files for mlmodel ref
  mlmodel/docs/Format/Model.rst
Due: test_macos11_py27_coremltools_test

Path conditions:
  test_macos11_py27_coremltools_test: any of: mlmodel/**/*, coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py37_coremltools_test: any of: coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py27_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  build_documentation: any of: docs/**/*
