Repository apple/coremltools: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_macos11_py27_coremltools_test, test_macos11_py37_coremltools_test, test_macos11_py27_pytorch, test_macos11_py37_pytorch, test_macos11_py27_tensorflow1, test_macos11_py37_tensorflow1, test_macos11_py27_tensorflow2, test_macos11_py37_tensorflow2, test_macos11_py27_mil, test_macos11_py37_mil, build_documentation

test_macos11_py27_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    WHEEL_PATH: build/dist/*cp27*10_16*
    PYTHON: '2.7'

test_macos11_py37_coremltools_test:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    WHEEL_PATH: build/dist/*cp37*10_16*
    PYTHON: '3.7'

test_macos11_py27_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py37_pytorch:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.torch
  ...

test_macos11_py27_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py37_tensorflow1:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    TEST_PACKAGE: coremltools.converters.mil.frontend.tensorflow
  ...

test_macos11_py27_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py37_tensorflow2:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --requirements=${REQUIREMENTS} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py37
  variables:
    PYTHON: '3.7'
    REQUIREMENTS: reqs/test_tf2.pip
  ...

test_macos11_py27_mil:
  stage: test
  script:
  - bash -e scripts/test.sh --wheel-path=${WHEEL_PATH} --python=${PYTHON} --test-package=${TEST_PACKAGE} --fast
  tags:
  - macos11
  dependencies:
  - build_wheel_macos_py27
  variables:
    PYTHON: '2.7'
    TEST_PACKAGE: coremltools.converters.mil.mil
    WHEEL_PATH: build/dist/*cp27*10_16*

Merged eng/PR-55482149-int into master for Azul
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/converters/tensorflow/test/test_custom_layer.py
Due: none

Merged eng/PR-55416002-master into master for Azul
  README.md
  README.rst
  coremltools/__init__.py
  coremltools/converters/keras/_keras_converter.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/models/model.py
  coremltools/models/nearest_neighbors/builder.py
  coremltools/models/neural_network/builder.py
  coremltools/models/neural_network/quantization_utils.py
  coremltools/models/utils.py
  docs/APIExamples.md
  docs/conf.py
  docs/coremltools.converters.rst
  docs/coremltools.models.rst
  docs/coremltools.utils.rst
  docs/index.rst
  examples/updatable_models/OnDeviceTraining_API_Usage.md
  examples/updatable_models/README.md
  mlmodel/README.md
  mlmodel/format/NeuralNetwork.proto
  setup.py
Due: test_macos11_py27_coremltools_test, build_documentation

Merged eng/PR-55751768-master into master for Azul
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

Merged eng/PR-55719227 into master for Azul
  coremltools/test/test_numpy_nn_layers.py
Due: none

Merged eng/PR-56082442-int into master for Azul
  coremltools/models/neural_network/builder.py
  coremltools/test/test_numpy_nn_layers.py
Due: none

Merged eng/PR-55543065-int into master for Azul
  coremltools/models/tree_ensemble.py
Due: none

Merged eng/PR-33221099-master into master for Azul
  coremltools/models/neural_network/builder.py
Due: none

Merged eng/PR-53259353_2 into master for Azul
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/models/neural_network/builder.py
  coremltools/proto/NeuralNetwork_pb2.py
  coremltools/test/test_numpy_nn_layers.py
  mlmodel/build/format/Model.pb.h
  mlmodel/build/format/NeuralNetwork.pb.cc
  mlmodel/build/format/NeuralNetwork.pb.h
  mlmodel/build/format/NeuralNetwork_enums.h
  mlmodel/format/NeuralNetwork.proto
  mlmodel/src/NeuralNetwork/NeuralNetworkLayerValidator.cpp
  mlmodel/src/NeuralNetwork/NeuralNetworkValidator.cpp
  mlmodel/src/NeuralNetwork/NeuralNetworkValidator.hpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-56131062-int into master for Golden
  coremltools/test/test_numpy_nn_layers.py
Due: none

Merged eng/PR-55385439_master into master for Azul
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/tensorflow/test/test_base.py
Due: none

added clamped Relu layer, updated spec version to 5 and NN compiled version to 4.0.0
  coremltools/__init__.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/models/neural_network/builder.py
  coremltools/proto/NeuralNetwork_pb2.py
  coremltools/test/neural_network/test_numpy_nn_layers.py
  mlmodel/build/format/Model.pb.h
  mlmodel/build/format/NeuralNetwork.pb.cc
  mlmodel/build/format/NeuralNetwork.pb.h
  mlmodel/build/format/NeuralNetwork_enums.h
  mlmodel/format/NeuralNetwork.proto
  mlmodel/src/Globals.hpp
  mlmodel/src/NeuralNetwork/NeuralNetworkValidator.cpp
  mlmodel/src/NeuralNetwork/NeuralNetworkValidator.hpp
  mlmodel/src/Utils.cpp
  mlmodel/src/Utils.hpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-50318046_master into master for Azul
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

Merged eng/PR-56198879 into master for Azul
  coremltools/__init__.py
  coremltools/version.py
  setup.py
Due: none

Merged eng/PR-55572636-master into master for Golden
  coremltools/models/neural_network/quantization_utils.py
  coremltools/models/utils.py
Due: none

Merged eng/PR-56078838-master into master for Azul
  mlmodel/src/PipelineValidator.cpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-56340853 into master for Azul
  coremltools/converters/nnssa/commons/features.py
Due: none

add support for nd input
  mlmodel/src/NeuralNetwork/NeuralNetworkValidatorGraph.hpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-55185668_master into master for Azul
  coremltools/converters/nnssa/coreml/graph_pass/__init__.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/graph_pass/op_removals.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
Due: none

Merged eng/PR-56310403-master into master for Azul
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/tensorflow/load.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/converters/tensorflow/test/test_tf_2x.py
Due: none

Merged eng/PR-55463509-int into master for Azul
  coremltools/converters/nnssa/coreml/graph_pass/mlmodel_passes.py
  coremltools/converters/tensorflow/test/test_graph_passes.py
  coremltools/test/neural_network/test_graph_passes.py
Due: none

Merged eng/PR-56718169-int into master for Azul
  coremltools/proto/Model_pb2.py
  coremltools/proto/Program_pb2.py
  examples/V5_neural_network/helper.py
  examples/V5_neural_network/sample.py
  mlmodel/CMakeLists.txt
  mlmodel/build/format/Model.pb.cc
  mlmodel/build/format/Model.pb.h
  mlmodel/build/format/Model_enums.h
  mlmodel/build/format/Program.pb.cc
  mlmodel/build/format/Program.pb.h
  mlmodel/build/format/Program_enums.h
  mlmodel/format/Model.proto
  mlmodel/format/Program.proto
  mlmodel/src/Comparison.cpp
  mlmodel/src/Model.cpp
  mlmodel/src/ProgramValidator.cpp
  mlmodel/src/ProgramValidator.hpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-56762024 into master for Azul
  coremltools/converters/caffe/_caffe_converter.py
  coremltools/models/model.py
Due: none

Merged eng/PR-50259106-master into master for Azul
  coremltools/_deps/__init__.py
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/shapes.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/cond_to_where.py
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/fusedbatchnorm_rewrite.py
  coremltools/converters/tensorflow/_tf_converter.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_convnets.py
  coremltools/converters/tensorflow/test/test_tf_2x.py
  coremltools/converters/tensorflow/test/test_tf_keras_layers.py
Due: none

Adding MLModel pass to convert ConvT -> Crop -> BN -> Activation to ConvT -> BN -> Activation -> t Crop pattern
  coremltools/converters/nnssa/coreml/graph_pass/mlmodel_passes.py
  coremltools/test/neural_network/test_graph_passes.py
Due: none

Neural Network protobuf abstraction
  mlmodel/CMakeLists.txt
  mlmodel/src/ILIL/IRBlock.hpp
  mlmodel/src/ILIL/IRFunction.hpp
  mlmodel/src/ILIL/IROperation.hpp
  mlmodel/src/ILIL/IROperatorType.hpp
  mlmodel/src/ILIL/IRProgram.hpp
  mlmodel/src/ILIL/IRScope.cpp
  mlmodel/src/ILIL/IRScope.hpp
  mlmodel/src/ILIL/IRValue.cpp
  mlmodel/src/ILIL/IRValue.hpp
  mlmodel/src/ILIL/IRValueType.cpp
  mlmodel/src/ILIL/IRValueType.hpp
  mlmodel/src/ILIL/Program/ProgramIRBlock.cpp
  mlmodel/src/ILIL/Program/ProgramIRBlock.hpp
  mlmodel/src/ILIL/Program/ProgramIRFunction.cpp
  mlmodel/src/ILIL/Program/ProgramIRFunction.hpp
  mlmodel/src/ILIL/Program/ProgramIROperation.cpp
  mlmodel/src/ILIL/Program/ProgramIROperation.hpp
  mlmodel/src/ILIL/Program/ProgramIROperatorTypeConverter.cpp
  mlmodel/src/ILIL/Program/ProgramIROperatorTypeConverter.hpp
  mlmodel/src/ILIL/Program/ProgramIRProgram.cpp
  mlmodel/src/ILIL/Program/ProgramIRProgram.hpp
  mlmodel/src/ILIL/Program/ProgramIRValue.cpp
  mlmodel/src/ILIL/Program/ProgramIRValue.hpp
  mlmodel/src/ILIL/Program/ProgramIRValueType.cpp
  mlmodel/src/ILIL/Program/ProgramIRValueType.hpp
  mlmodel/src/Utils.cpp
Due: test_macos11_py27_coremltools_test

Adding all siri asr related model conversion tests.
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/graph_pass/op_removals.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/common_symbolic_value_elimination.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/models/neural_network/builder.py
Due: none

- NeuralNetworkBuffer for parameter read-write - Python binding and C++ API - Removing TensorType from TensorValue - Updating sample and helper examples
  coremlpython/CoreMLPython.h
  coremlpython/CoreMLPython.mm
  coremltools/models/__init__.py
  coremltools/models/program/__init__.py
  coremltools/models/program/builder.py
  coremltools/proto/Program_pb2.py
  coremltools/test/neural_network_v2/test_weights.py
  examples/NN_v2/helper.py
  examples/NN_v2/sample.py
  examples/NN_v2/simple_layer.mlmodel
  examples/NN_v2/simple_layer.py
  examples/NN_v2/simple_layer.wt
  mlmodel/CMakeLists.txt
  mlmodel/build/format/Program.pb.cc
  mlmodel/build/format/Program.pb.h
  mlmodel/format/Program.proto
  mlmodel/src/NeuralNetworkBuffer.cpp
  mlmodel/src/NeuralNetworkBuffer.hpp
Due: test_macos11_py27_coremltools_test

Merged eng/PR-55987312 into master for Azul
  coremltools/proto/FeatureTypes_pb2.py
  mlmodel/build/format/FeatureTypes.pb.cc
  mlmodel/build/format/FeatureTypes.pb.h
  mlmodel/build/format/FeatureTypes_enums.h
  mlmodel/format/FeatureTypes.proto
  mlmodel/src/Globals.hpp
  mlmodel/src/InterfaceValidators.cpp
  mlmodel/src/Utils.cpp
  mlmodel/src/Utils.hpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/NNValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

Tests for Neural Network protobuf abstraction (IR)
  CMakeLists.txt
  mlmodel/CMakeLists.txt
  mlmodel/src/ILIL/IRFunction.hpp
  mlmodel/src/ILIL/IROperation.hpp
  mlmodel/src/ILIL/IRScope.cpp
  mlmodel/src/ILIL/IRScope.hpp
  mlmodel/src/ILIL/IRValue.cpp
  mlmodel/src/ILIL/IRValue.hpp
  mlmodel/src/ILIL/IRValueType.cpp
  mlmodel/src/ILIL/IRValueType.hpp
  mlmodel/src/ILIL/IRValueTypeTraits.hpp
  mlmodel/src/ILIL/Program/ProgramIRBlock.cpp
  mlmodel/src/ILIL/Program/ProgramIRFunction.cpp
  mlmodel/src/ILIL/Program/ProgramIROperation.cpp
  mlmodel/src/ILIL/Program/ProgramIROperatorTypeConverter.cpp
  mlmodel/src/ILIL/Program/ProgramIRValue.cpp
  mlmodel/src/ILIL/Program/ProgramIRValue.hpp
  mlmodel/src/ILIL/Program/ProgramIRValueType.cpp
  mlmodel/src/ILIL/Program/ProgramIRValueType.hpp
  mlmodel/tests/ILIL/IRScopeTests.cpp
  mlmodel/tests/ILIL/IRValueTests.cpp
  mlmodel/tests/ILIL/IRValueTypeTests.cpp
  mlmodel/tests/ILIL/ProgramIRTests.cpp
  mlmodel/tests/LinearModelTests.cpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/ModelContainerTests.cpp
  mlmodel/tests/OneHotEncoderTests.cpp
  mlmodel/tests/SaveLoadTests.cpp
  mlmodel/tests/TreeEnsembleTests.cpp
  mlmodel/tests/framework/TestUtils.hpp
Due: test_macos11_py27_coremltools_test

SSA Converter: sort OP converter functions dict
  coremltools/converters/nnssa/coreml/ssa_converter.py
Due: none

rdar://57228444 (Constant propagation in TF converters fails with retval error)
  coremltools/converters/nnssa/frontend/tensorflow/graph_pass/constant_propagation.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

Bug fix in NHWC->NCHW pass + converter function of convBackpropInput + optimizing identity layer + cases where split is an output
  coremltools/converters/nnssa/coreml/graph_pass/op_fusions.py
  coremltools/converters/nnssa/coreml/ssa_converter.py
Due: none

Adding tests for strided slice related to github issue 304
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

weighted smooth loss supports + sigmoid loss + l1 loss
  coremltools/models/neural_network/builder.py
  coremltools/proto/NeuralNetwork_pb2.py
  mlmodel/build/format/Model.pb.h
  mlmodel/build/format/NeuralNetwork.pb.cc
  mlmodel/build/format/NeuralNetwork.pb.h
  mlmodel/build/format/NeuralNetwork_enums.h
  mlmodel/format/NeuralNetwork.proto
  mlmodel/src/NeuralNetwork/NeuralNetworkValidatorGraph.hpp
  mlmodel/src/NeuralNetwork/UpdatableNeuralNetworkValidator.cpp
  mlmodel/tests/MLModelTests.hpp
  mlmodel/tests/UpdatableModelValidatorTests.cpp
Due: test_macos11_py27_coremltools_test

Adding support for ZerosLike Op
  coremltools/converters/nnssa/coreml/ssa_converter.py
Due: none

Type inference returning None shape if unknown_rank Adding test case for zero_like
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/nnssa/frontend/graph_pass/type_inference.py
  coremltools/converters/nnssa/frontend/tensorflow/parse.py
  coremltools/converters/nnssa/frontend/tensorflow/parsed_tf_node.py
  coremltools/converters/tensorflow/test/test_convnets.py
  coremltools/test/neural_network/test_recurrent_stress_tests.py
Due: none

<rdar://problem/57106191> Coremltools github issue 513: model not running on ANE
  coremltools/converters/nnssa/coreml/ssa_converter.py
  coremltools/converters/tensorflow/test/test_base.py
  coremltools/converters/tensorflow/test/test_convnets.py
Due: none

<rdar://problem/57240980> Unit test exercising on-disk proto through execution
  examples/NN_v2/helper.py
  examples/NN_v2/simple_layer.mlmodel
  examples/NN_v2/simple_layer.py
  examples/NN_v2/simple_layer.wt
  mlmodel/src/ILIL/IROperation.cpp
  mlmodel/src/ILIL/IROperation.hpp
  mlmodel/src/ILIL/IROperatorDescription.cpp
  mlmodel/src/ILIL/IROperatorType.hpp
  mlmodel/src/ILIL/IRProgram.hpp
  mlmodel/src/ILIL/IRScope.cpp
  mlmodel/src/ILIL/IRScope.hpp
  mlmodel/src/ILIL/IRValue.cpp
  mlmodel/src/ILIL/IRValueType.cpp
  mlmodel/src/ILIL/Program/ProgramIRBlock.cpp
  mlmodel/src/ILIL/Program/ProgramIROperation.cpp
  mlmodel/src/ILIL/Program/ProgramIROperatorTypeConverter.cpp
  mlmodel/src/ILIL/Program/ProgramIRProgram.cpp
  mlmodel/src/ILIL/Program/ProgramIRValue.cpp
  mlmodel/src/NeuralNetworkBuffer.cpp
  mlmodel/src/NeuralNetworkBuffer.hpp
  mlmodel/src/ProgramValidator.cpp
  mlmodel/tests/ILIL/IRScopeTests.cpp
  mlmodel/tests/ILIL/ProgramIRTests.cpp
Due: test_macos11_py27_coremltools_test

Path conditions:
  test_macos11_py27_coremltools_test: any of: mlmodel/**/*, coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py37_coremltools_test: any of: coremltools/test/**/*.{py}, coremltools/models/**/*.{py}, coremltools/converters/caffe/**/*.{py}, coremltools/converters/keras/**/*.{py}, coremltools/converters/libsvm/**/*.{py}, coremltools/converters/sklearn/**/*.{py}, coremltools/converters/xgboost/**/*.{py}
  test_macos11_py27_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_pytorch: any of: coremltools/converters/mil/frontend/torch/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow1: any of: coremltools/converters/mil/frontend/tensorflow/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_tensorflow2: any of: coremltools/converters/mil/frontend/tensorflow2/**/*.{py}, coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py27_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  test_macos11_py37_mil: any of: coremltools/converters/mil/mil/**/*.{py}, coremltools/converters/mil/backend/**/*.{py}
  build_documentation: any of: docs/**/*
